<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Определяем формат логов -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>ParserTicketService.log</file> <!-- Имя файла для логов -->
        <append>true</append> <!-- Добавлять новые записи в конец файла -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Опционально: Логирование в консоль (для отладки) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Уровень логирования и активные аппендеры -->
    <root level="info">
        <appender-ref ref="FILE" /> <!-- Логи будут записываться в файл -->
        <!-- <appender-ref ref="CONSOLE" /> --> <!-- Раскомментируйте, если хотите видеть логи в консоли -->
    </root>

</configuration>